# Archivos y directorios específicos de Flask
instance/
.webassets-cache

# Archivos y directorios de Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
ENV/

# Archivos de configuración de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de base de datos
*.db
*.sqlite

# Archivos de registro
*.log

# Archivos de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Archivos de distribución / empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de pruebas y cobertura
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Archivos de documentación
docs/_build/

# Archivos de configuración de PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Archivos de ambiente
.env
.env.local
.env.*.local

# Archivos específicos de Flask-SQLAlchemy
migrations/

# Archivos específicos de Flask-WTF
flask_wtf_csrf_token

dash-env