<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Gráficos de Matplotlib</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Gráfico de Relación Edad y Salario</h1>
            <img src="data:image/png;base64,{{ imagen_barras }}" alt="Gráfico de Barras">
        </div>
        <div class="content">
            <h1>Gráfico de Distribución de Personas por Ciudad</h1>
            <img src="data:image/png;base64,{{ imagen_pie }}" alt="Gráfico de Pie">
        </div>
    </div>

</body>

</html>